$border-color: #616;
$root-background-color: #030;
$message-feed-background-color: rgb(71, 179, 71);
$message-feed-font-size: 18px;
$nickname-background-color: rgba(163, 216, 230, 0.616);
$nickname-form-button-color: rgb(100, 176, 247);
$input-background-color: #0c4;
$button-background-color: rgb(22, 184, 22);
$font-color: #123;
$font-family: monospace;

@mixin fonts {
  font-family: $font-family;
  color: $font-color;
}

.chat-main {
  display: flex;
  flex-direction: column;
  background-color: $root-background-color;

  .message-feed,
  .message-input {
    margin: 10px;
  }
  .message-feed {
    background-color: $message-feed-background-color;
    border: 2px solid $border-color;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1;
    min-height: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    @include fonts();
    font-size: $message-feed-font-size;
    .message-feed-entry {
      display: flex;
      .author {
        font-weight: bold;
        margin-right: 10px;
      }
      .message {
        flex: 1;
      }
    }
    .event-feed-entry {
      font-style: italic;
    }
  }
  .nickname {
    margin: 0 10px;
    padding: 15px;
    background-color: $nickname-background-color;
    @include fonts();
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    > * {
      padding: 0 10px;
    }

    .nickname-text {
      font-weight: bold;
    }

    form {
      display: flex;
      input[type='text'] {
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 10px;
        background-color: $input-background-color;
      }
      button {
        padding: 12px;
        font-size: 14px;
        border: 0;
        background-color: $nickname-form-button-color;
        @include fonts();
      }

      @media (max-width: 360px) {
        flex-direction: column;
        input[type='text'] {
          padding: 4px;
          font-size: 12px;
          flex: 1 1 0;
          min-width: 0;
          min-height: 0;
          max-width: calc(100vw - 40px);
        }
      }
    }

    @media (max-width: 435px) {
      flex-direction: column;
      min-width: 0;
    }
  }
  .message-input {
    display: flex;
    input[type='text'] {
      flex: 1 1;
      min-width: 0;
      border: 1px solid $border-color;
      border-radius: 5px;
      padding: 10px;
      size: 10px;
      font-size: 26px;
      background-color: $input-background-color;
      @include fonts();
    }
    button {
      padding: 20px;
      font-size: 20px;
      border: 0;
      background-color: $button-background-color;
      @include fonts();
    }

    @media (max-width: 250px) {
      flex-direction: column;
      input[type='text'] {
        font-size: 14px;
        padding: 10px;
      }
      button {
        margin-top: 5px;
        padding: 10px;
      }
    }
  }
}
