body {
  margin: 0;
  div#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1;
      min-height: 0;
      min-width: 0;
    }
    overflow: hidden;
  }
}
